:root{
    --body-margin: 0 10%;
    --sidenav-display: flex;
}
@media (max-width:1000px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    :root{
        --body-margin: 0 0;
    }
}
@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    :root{
        --body-margin: 0 0;
        --sidenav-display: none;
    }
}
body {
    margin: 0;
    padding: 0;
    max-width: none;
    height: 100vh;
    overflow: hidden;
}

.demo-sidenav,
.demo-main {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.demo-sidenav::-webkit-scrollbar,
.demo-main::-webkit-scrollbar { 
    display: none;
}

.demo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    .demo-sidenav {
        overflow-y: auto;

        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);

        display: var(--sidenav-display);
;
        flex-direction: column;
        padding: 1rem 0.5rem 0 1rem;
        gap: 0.2rem;

        width: 100%;
        max-width: max-content;
        position: sticky;
        left: 0;

        
        a {
            cursor: pointer;
            font: inherit;
            font-size: 0.875rem;
            font-weight: 500;
            padding: 0.5rem 1rem;
            border-radius: var(--radius);
            transition: background-color 0.2s ease-in-out;
            text-align: start;
            border: none;
            background-color: transparent;
            &:hover{
                background-color: var(--muted);
                text-decoration: none;
            }
        }
        a[disabled] {
            opacity: 70%;
            pointer-events: none;
        }
    }

    .demo-main {
        padding: 2rem;
        overflow-y: auto;
        border-right: 1px solid var(--border);
        max-width: 900px;
        width: 100%;

        .demo-intro-text {
            margin-top: 1rem;
        }

        .demo-code {
            margin: 1rem 0;
        }

        .demo-gapped {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        .demo-skeleton-gap{
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            .demo-skeleton-inline {
                display: flex;
                flex-direction: row;

                .demo-skeleton-stack {
                    width: 100%;
                    display: flex
;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 0 1rem;
                    justify-content: center;
                }
            }
        }

        .demo-popover-content {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
            }
        }

        .demo-toast {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4rem;
        }

        .demo-otp {
            display: flex;
            align-items: center;
        }

        .demo-sidenav-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 30rem;

            .demo-sidebar-header {
                display: flex;
                gap: 1rem;
                align-items: center;
                padding: 0.5rem;

                border-radius: var(--radius);
                &:hover {
                    background-color: var(--muted);
                }
            }

            .demo-sidenav-content {
                flex-grow: 1;
                padding: 0 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

            }

            .demo-sidenav-links {
                display: flex
                ;
                    flex-direction: column;
                    gap: 0.5rem;
                    margin-bottom: 2rem;
                    margin-top: 0.5rem;
            }
        }

        .demo-code>pre>code {
            background-color: unset;
            color: unset;
            padding: unset;
        }
    }
}



html[data-theme="dark"] {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border-color: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
    --border: 1px solid var(--border-color);
}